body {
	background-color: rgba(31, 206, 109, 0.7);
}

#root {
	min-width: 265px;
}

@media screen and (max-width: 333px) {
	.loginPage {
		height: 100vh;
		background: rgb(255, 255, 255);
		background: linear-gradient(148deg, rgba(255, 255, 255, 1) 70%, rgba(31, 206, 109, 1) 70%);
	}

	.logoContainer {
		margin-bottom: 20%;
	}

	.logoContainer>* {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.logoContainer img {
		margin: 20px;
		width: 125px;
		height: 125px;
	}
}

@media screen and (min-width: 333px) and (max-width: 576px) {
	.loginPage {
		height: 100vh;
		background: rgb(255, 255, 255);
		background: linear-gradient(148deg, rgba(255, 255, 255, 1) 33%, rgba(31, 206, 109, 1) 33%);
	}

	.logoContainer {
		margin-bottom: 30%;
	}

	.logoContainer img {
		margin-left: 20px;
		margin-top: 20px;
		width: 175px;
		height: 175px;
	}
}

@media screen and (min-width: 575px) and (max-width: 992px) {
	.loginPage {
		border: 1px solid #f7f7f7;
		height: 100vh;
		background: rgb(255, 255, 255);
		background: linear-gradient(148deg, rgba(255, 255, 255, 1) 70%, rgba(31, 206, 109, 1) 70%);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		padding-bottom: 20px;
	}

	.logoContainer img {
		margin-left: 20px;
		margin-top: 20px;
		width: 200px;
		height: 200px;
	}
}

@media screen and (min-width: 991px) {
	.loginPage {
		border: 1px solid #f7f7f7;
		height: 100vh;
		background: rgb(255, 255, 255);
		background: linear-gradient(148deg, rgba(255, 255, 255, 1) 70%, rgba(31, 206, 109, 1) 70%);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		padding-bottom: 20px;
	}

	.logoContainer img {
		margin-left: 20px;
		margin-top: 20px;
		width: 400px;
		height: 400px;
	}

	.react-calendar__month-view__days__day {
		height: 100px !important;
	}
}

@media screen and (max-width: 575px) {

	.welcomePage {
		height: 100vh;
		padding: 0% !important;
	}

	.welcomeScreen {
		height: 100vh;
	}

	.welcomeRow {
		padding: 0%;
		margin: 0%;
		width: 100%;
		height: 33.33333vh;
	}

	.welcome-row-center {
		background-image: url('./assets/img/moverte2.jpg');
		background-color: #ffff !important;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.calendar {
		width: 100%;
	}

	.avatar {
		width: 50px !important;
		height: 50px !important;
	}

}

@media screen and (min-width: 575px) {
	.welcomePage {
		height: 100vh;
		padding: 0% !important;
	}

	.welcomeScreen {
		height: 100vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.welcomeRow {
		padding: 0%;
		margin: 0%;
		height: 100%;
		width: 33.333%;
	}

	.welcome-row-center {
		background-image: url('./assets/img/frase.jpg'), url('./assets/img/moverte2.jpg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat, repeat;
	}

	.calendar {
		width: 90%;
	}
}

.welcome-row-top {
	background-image: url('./assets/img/moverte3.jpg');
	background-size: cover;
	opacity: 30%;
}

.welcome-row-bottom {
	background-image: url('./assets/img/moverte4.jpg');
	background-size: cover;
	opacity: 30%;
}

.loginForm .buttonLogin {
	background-color: #2D9B5E !important;
	border: 0px !important;
	width: 100% !important;
	border-radius: 0px !important;
	margin-top: 10px !important;
	margin-bottom: 20px;
}

.loginForm .buttonLogin:hover {
	background-color: #2D9B5E !important;
	border: 0px !important;
	width: 100% !important;
	border-radius: 0px !important;
	margin-top: 10px !important;
	margin-bottom: 20px;
	opacity: 90% !important;
}

.loginForm input {
	border-radius: 10px !important;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f7;
}

.loadingRow {
	height: 100vh;
}

.loadingRow img {
	border-radius: 50px;
	width: 100px;
	height: 100px;
}

.loadingCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.appFrameContent {}

.appFrameNavBar {
	min-width: 265px;
	background-color: #1FCE6D;
	padding: 5%;
	box-shadow: 0px 10px 10px 0px #1FCE6D;
}

.appFrameChildren {
	padding-top: 40px;
	padding-bottom: 20px;
}

.btnAlumnosRow,
.btnSesionesRow {
	margin-top: 20px;
	width: 200px;
	height: 50px;
}

.btnAlumnos,
.btnSesiones {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	box-shadow: 0px 0px 3px 2px #1FCE6D;
}

.calendarColContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.calendar {
	border-radius: 20px;
	border: 1px solid #f7f7f7;
	box-shadow: 0px 0px 3px 1px rgba(31, 206, 109);
}

.react-calendar__month-view__days__day {
	border-radius: 20px;
}

.react-calendar__month-view__days {
	padding: 10px;
}

.react-calendar__tile--active>abbr::after {
	color: black !important;
}

.react-calendar__month-view__days__day {}

.react-calendar__month-view__days__day>abbr::after {
	color: grey;
}

.react-calendar__navigation__arrow {
	border-radius: 20px !important;
}

.sessions-calendar-active {
	background-color: rgba(31, 206, 109, 0.7);
}

.btnDelAlum {
	opacity: 75%;
	margin: 10px;
	background-color: #BD5A5A;
	border: none;
	border-radius: 5px;
	color: #f7f7f7 !important;
	padding: 3px;
	width: 70px;
}

.btnDelAlum:hover {
	opacity: 90%;
}

.sessionContainer {
	background-color: #f7f7f7;
	margin-bottom: 2%;
	width: 100% !important;
	padding: 5px !important;
	border-radius: 10px;
}

.trainee-list-container,
.session-list-contnainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.avatar {
	width: 75px;
	height: 75px;
	margin-right: 10px;
	border-radius: 75px;
	background-image: url('./assets/img/logo.jpg');
	background-size: cover;
}

.btnLogoutContainer {
	width: 25%;
	/* min-width: 50px; */
	position: absolute;
}

.btnLogout {
	background-color: #BD5A5A;
	border-radius: 75px;
	padding: 10px;
	text-decoration: none;
	min-width: 50px;
	max-width: 150px;
	width: 100% !important;
	display: flex;
	justify-content: center;
	color: #f7f7f7 !important;
}

.user-name-container {
	color: #f7f7f7 !important;
}

.container-trainee-show {
	background-image: url('./assets/img/logo.jpg');
	background-size: cover;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 10px;
}

.container-trainee-show-full {
	width: 100%;
}

.trainee-info-row {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.nav-top-buttons-back {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.nav-top-buttons-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav-top-buttons-act {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.bbtn-r {
	border-radius: 20px;
}

.login-error-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #BD5A5A;
	color: #ffff;
	margin-top: 1rem;
	border-radius: 10px;
}

.login-error-row>span {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: centers;
	padding-bottom: 2px;
}

.form-field-empty {
	border: 3px solid #BD5A5A !important;
}

.btn-show-trainees {
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 75px;
	margin-top: 5px;
	color: #1FCE6D;
	background-color: #f7f7f7;
}

.session-type {
	background-color: #efefef;
	border-radius: 75px;
	margin-right: 10px;
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.session-list-row {
	height: 100%;
}